<app-logged-header></app-logged-header>
<div class="flex flex-col bg-[#1E1E1E] w-screen h-[var(--h-screen-minus-navbar)]">
    <!-- Profile Header Section -->

    <div class="w-2/3 h-[275px] bg-gradient-to-r from-[#1E1E1E] via-[#2C2C2C] to-[#1E1E1E] self-center">
        <!-- Banner Section (If i add one) -->
    </div>
    <!-- Profile Info Section -->
    <div class="flex justify-between items-start px-8 -mt-16 relative z-10">

    <!-- Profile Card -->
        <div class="flex items-center gap-6 p-4 bg-black/50 text-white shadow-lg rounded-3xl shadow-3xl">
            <!-- Profile Picture -->
            <div class="w-[96px] h-[96px] rounded-full overflow-hidden border-4 border-[#1E1E1E] bg-gray-800">
            <img [src]="'/shared/default_user.svg'" alt="Profile Picture" class="w-full h-full object-cover">
            </div>

            <!-- Channel Info -->
            <div class="flex flex-col justify-center text-white">
            <h1 class="text-2xl font-bold" [class.invisible]="this.profileUser === null">{{ profileUsername }}</h1>
            <span class="flex text-sm font-inter my-3 ">
                <b class="mr-1">{{ profileUsername }}</b>
                <p class="text-sm tracking-tighter">
                · {{ profileUserFollowers?.length || 0 }} seguidores · {{ profileUserSuscribers?.length || 0 }} miembros · {{ profileUserVideos?.length || 0 }} videos
                </p>
            </span>

            <!-- Follow Button Row -->
            <div class="flex tracking-[1px]! gap-x-3 mt-3">
                <button #followBtn mat-stroked-button (click)="onFollowClick(followBtn)" [class.invisible]="this.actualUsername === this.profileUsername"
                        class="bg-white rounded-full font-black! hover:bg-gray-200 w-auto px-4 h-[35px]! text-sm!">

                <i class="far fa-bell fa-lg mr-2"></i>
                {{this.followBtnMsg || "Seguir"}}
                </button>

                <button #suscribeBtn mat-stroked-button (click)="onSuscribeClick(suscribeBtn)" [class.invisible]="this.actualUsername === this.profileUsername"
                        class="bg-white rounded-full text-sm hover:bg-gray-200 px-4 h-[35px]!">
                {{this.suscribeBtnMsg || "Unirme"}}
                </button>
            </div>
            </div>
        </div>

        <!-- Right-side Buttons -->
        <div class="flex flex-col gap-3 mt-4" [class.invisible]="this.actualUsername !== this.profileUsername">
            <button mat-raised-button class="bg-red-600 hover:bg-red-700 text-white font-semibold py-2 px-4 rounded-full">
            Empezar Directo
            </button>
        </div>

    </div>

    <!-- Tabs Section -->
    <mat-tab-group mat-stretch-tabs="false" class="mt-6 h-full w-screen overflow-y-hidden">
        <!-- Videos Tab -->
        <mat-tab label="VIDEOS">
            <div class="grid grid-cols-4 gap-4 mt-6">
                <ng-container *ngFor="let video of profileUserVideos">
                    <app-video
                        [videoLink]="'/video/' + video.streamId"
                        [videoImgUrl]="video.thumbnailUrl"
                        [videoTitle]="video.title"
                        [profileLink]="'/profile/' + video.author"
                        [profileImgUrl]="'/shared/default_user.svg'"
                        [streamer]="video.author"
                        [viewers]="0">
                    </app-video>
                </ng-container>
            </div>
        </mat-tab>

        <!-- Live Tab -->
        <mat-tab label="DIRECTOS">
            <div class="grid grid-cols-4 gap-4 mt-6">
                <ng-container *ngFor="let video of profileUserStreams">
                    <app-video
                        [videoLink]="'/video/' + video.streamId"
                        [videoImgUrl]="video.thumbnailUrl"
                        [videoTitle]="video.title"
                        [profileLink]="'/profile/' + video.author"
                        [profileImgUrl]="''"
                        [streamer]="video.author"
                        [viewers]="0">
                    </app-video>
                </ng-container>
            </div>
        </mat-tab>


<!--        Playlists Tab
    <!--      <mat-tab label="LISTAS DE REPRODUCCIÓN">
          <!--  <div class="grid grid-cols-4 gap-4 mt-6">
              <!--   <ng-container *ngFor="let playlist of playlists">
                    <!-- You can create a playlist component or use the video component with modifications -->
               <!--     <div class="bg-[#2C2C2C] rounded-lg overflow-hidden">
                   <!--     <img [src]="playlist.thumbnailUrl" alt="Playlist thumbnail" class="w-full h-48 object-cover">
                       <!-- <div class="p-4">
                           <!-- <h3 class="text-white font-medium">{{playlist.name}}</h3>
                            <!--<p class="text-gray-400 text-sm">{{playlist.videoCount}} videos</p>
                        <!--</div>
                    <!--</div>
                <!--</ng-container>
            <!--</div>
        </mat-tab>

        <!-- About Tab -->
        <mat-tab label="INFORMACIÓN">
            <div class="text-white m-6 h-2/3">
                <div class="max-w-3xl">
                    <h2 class="text-xl font-bold mb-4">Descripción</h2>
                    <p class="text-gray-300 whitespace-pre-line">Profile Description</p><!-- {{profileDescription}} -->

                    <div class="mt-8">
                        <h3 class="text-lg font-bold mb-2">Estadísticas</h3>
                        <p class="text-gray-300">Se unió el {{profileUser?.created_at!.split("T")[0] || "Desconocido"}}</p>
                        <p class="text-gray-300">0 visualizaciones totales</p>
                    </div>

