<app-navbar>
    <button class="w-32 h-12 bg-black rounded-2xl text-white font-black font-inter text-[21px] ml-300
                   hover:shadow-[inset_0_0_7px_25px_rgb(59,75,83)] focus:border-2 focus:border-white focus:outline-black focus:outline-3
                   cursor-pointer" routerLink="/register"> Regístrate </button>

    <button class="w-34 h-12 bg-white rounded-2xl text-black font-black font-inter text-[21px] ml-20
                   pl-2 pr-2 box-content hover:shadow-[inset_0_0_15px_25px_rgba(130,140,170,0.18)] focus:outine-black focus:outline-3
                   cursor-pointer" routerLink="/login"> Iniciar Sesión </button>
</app-navbar>
