<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:insert="~{utils/common.html :: styles}">
        <title>LucasVasquez.football</title>
        <th:block th:insert="~{utils/common.html :: styles}"> </th:block>
        <meta charset="utf-8">
        <title>LucasVasquez.football</title>
        <meta name="description" content="Index page">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <th:block th:insert="~{utils/nav.html :: navbar}"></th:block>
        <p>Lucás</p>
    </body>
</html>
