<app-navbar>
         <button class="w-34 h-12 bg-white rounded-2xl text-black font-black font-inter text-[21px] ml-352
         pl-2 pr-2 box-content hover:shadow-[inset_0_0_15px_25px_rgba(130,140,170,0.18)] focus:outine-black focus:outline-3
         cursor-pointer" routerLink="/login"> Iniciar Sesión </button>
</app-navbar>

<div class="flex justify-center items-center w-screen h-[90vh]">
   <div class="flex flex-col gap-4 px-4 py-2 border-1 border-[rgb(224_227_226)]/[0.25] w-[700px] h-[730px]
               box-content rounded-xl justify-start items-center text-white">
       <h1 class="text-[55px] tracking-wider font-roboto-serif font-bold mt-[40px] mb-[10px]"> Registrate </h1>
       <h6 class="text-[22px] text-gray-100/[0.7] font-roboto-serif font-thin" [class.mb-3]="!this.registrationErr()"> Crea tu cuenta </h6>

       <mat-error *ngIf="this.registrationErr()">
           <b>{{this.registrationErr()}}</b>
       </mat-error>

       <mat-form-field hideRequiredMarker="true" (keydown.enter)="handleRegister()" class="w-5/6">
           <mat-label> Usuario </mat-label>
           <input matInput required (input)="updateFormValidity()" (input)="updateErrorMsg('username', this.username)" (focus)="updateErrorMsg('username', this.username)" [formControl]="username"/>
            <mat-error *ngIf="this.username.invalid && (this.username.dirty || this.username.touched)">{{usernameErrMsg()}}</mat-error>
       </mat-form-field>

       <mat-form-field hideRequiredMarker="true" (keydown.enter)="handleRegister()"  class="w-5/6">
           <mat-label> Email </mat-label>
           <input matInput required (input)="updateFormValidity()" (input)="updateErrorMsg('email', this.email)" (focus)="updateErrorMsg('email', this.email)" [formControl]="email" />
               <mat-error *ngIf="this.email.invalid && (this.email.dirty || this.email.touched)">{{emailErrMsg()}}</mat-error>
       </mat-form-field>

       <mat-form-field hideRequiredMarker="true" (keydown.enter)="handleRegister()" class="w-5/6">
           <mat-label> Contraseña </mat-label>
           <input matInput required (input)="updateFormValidity()" (input)="updateErrorMsg('password', this.password)" (input)="passwordControlSynchronizer()" (focus)="updateErrorMsg('password', this.password)" [formControl]="password"/>
               <mat-error *ngIf="this.password.invalid && (this.password.dirty || this.password.touched)">{{passwordErrMsg()}}</mat-error>
       </mat-form-field>

       <mat-form-field hideRequiredMarker="true" (keydown.enter)="handleRegister()" class="w-5/6 mb-2">
           <mat-label> Verifica tu Contraseña </mat-label>
           <input matInput required (input)="updateFormValidity()" (input)="updateErrorMsg('verifyPassword', this.verifyPassword)" (focus)="updateErrorMsg('verifyPassword', this.verifyPassword)" [formControl]="verifyPassword"/>
               <mat-error *ngIf="this.verifyPassword.invalid && (this.verifyPassword.dirty || this.verifyPassword.touched)">{{verifyPasswordErrMsg()}}</mat-error>
       </mat-form-field>

       <button mat-flat-button class="w-3/6 rounded-lg! mb-2" [disabled]="isFormInvalid()" (click)="handleRegister()" > Registrarte </button>
       <span class="font-inter tracking-wide"> <p> ¿Ya tienes una cuenta? <a routerLink="/login" class="underline"> Inicia sesión </a></p></span>
   </div>
</div>
