<div class="flex flex-col justify-start items-center w-screen bg-[#1E1E1E] absolute">
    <div class="bg-[#FFC943] w-[100vw] h-[55vh] flex items-end self-start">
        <p class="font-roboto-mono text-black">
            Todo el deporte que más te gusta \n Por menos que una suscripción \n de Netflix
        </p>

        <button class="w-40 h-12 bg-white rounded-2xl text-black font-black font-inter text-[24px] box-content p-2
                        hover:shadow-[inset_0_0_15px_25px_rgba(130,140,170,0.18)] focus:border-2 focus:border-white focus:outline-black focus:outline-3
                        cursor-pointer"> Regístrate ya </button>
    </div>

    <p class="font-bold text-white">landing works!</p>
</div>
