/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@import '@fontsource/roboto-mono';
@import '@fontsource/roboto-serif';
@import '@fontsource/inter';

@import '@fontsource/roboto-flex';

@plugin 'tailwind-scrollbar';

@theme {
    --font-inter: 'Inter', sans-serif;
    --font-roboto-mono: 'Roboto Mono', monospace;
    --font-roboto-serif: 'Roboto Serif', serif;
    --font-roboto-flex: 'Roboto Flex', sans-serif;

    // Little utility for covering the rest of the screen in its bg color, so i can design comfortably
    --h-screen-minus-navbar: calc(100vh - 80px);
}

html {
    // scrollbar-gutter:stable;
}

body {
    overflow-x: clip;
    // overflow-y:hidden;
}

// Angular Material needs global styles, component level doesn't work ;(

/* Mat-Card selector */
.mat-mdc-card {
    background-color: white !important;
}

// styles mainly used in Landing Component (have to be global for angular material to take them.)
app-landing {
    /* Mat-Button selector */
    .mat-mdc-button .mdc-button__label, & .mat-mdc-button .mat-icon, & .mat-mdc-unelevated-button .mdc-button__label, & .mat-mdc-unelevated-button .mat-icon, & .mat-mdc-raised-button .mdc-button__label, & .mat-mdc-raised-button .mat-icon, & .mat-mdc-outlined-button .mdc-button__label, & .mat-mdc-outlined-button .mat-icon {
        font-family: var(--font-roboto-flex);
        font-size: 20px;
        font-weight: bold;
    }

    /* Mat-List selector. */
    .mdc-list {
        padding-bottom: 10px !important;
    }
    /* mat-list selector *
     */
    .mdc-list-item__primary-text {
        color: white !important;
        font-family: var(--font-roboto-serif) !important;
    }

    /* Mat-Tab header container, forcing cyan orange to have azure-blue colors */
    .mat-mdc-tab-label-container{
        border-bottom-color: rgb(224 226 236) !important;
    }
    /* Mat-Tab header labels */
    .mat-mdc-tab .mdc-tab__text-label, .mat-mdc-tab .mdc-tab__text-label:active {
        color:black !important;
    }
    /* mat-tab body selector. */
    .mat-mdc-tab-body-wrapper {
        height: 240px !important;
    }

}

// Styles mainly used in register/login controller

app-register, app-login {

    .mdc-text-field--filled {
        border-radius: 10px;
    }

    // Input labels
    .mat-mdc-form-field-infix mat-label {
        font-family: var(--font-inter);
    }



    // Button label
    .mdc-button__label {
        font-family: var(--font-roboto-serif) !important;
        font-size: 26px !important;
        font-weight: lighter;
        letter-spacing: 0.02em;
        // color: white;
    }

    // Button itself
    .mat-mdc-unelevated-button {
        box-sizing: content-box;
        padding: 12px 8px 12px 8px !important;
    }

}

app-feed {

    // contenedor invisible dentro de la mat-chip-listbox
    .mdc-evolution-chip-set__chips {
        justify-content: center;
        margin-top: auto;
        margin-bottom: auto;
    }

    // Contentedor (donde se ponen los bordes) en la chip sin seleccionar.
   .mdc-evolution-chip__action--primary::before {
        border-radius: 20cm !important;
    }

   // Contenedor en la chip seleccionada.
   .mat-mdc-chip {
       border-radius: 20cm;
       // margin-right: 3px !important;
   }

   .mat-mdc-chip-listbox {
       display: flex;
       flex-wrap: nowrap;
       overflow-x: auto;
       gap: 8px;
    }
}
