:root {
    --dark: #000000;
    --lighter-dark: #14213D;
    --medium: #fca311;
    --darker-light: #e5e5e5;
    --light: #ffffff;

    --h1-fontsize: 2.5rem;
    --h2-fontsize: 2rem;
    --h3-fontsize: 1.75rem;
    --p-fontsize: 1rem;

    --xxs-mg: 1rem;
    --xs-mg: 1.5rem;
    --sm-mg: 2rem;
    --md-mg: 4rem;
    --lg-mg: 5rem;
    --xl-mg: 6rem;
    --xxl-mg: 7.5rem;

    --xs-lineheight: 1.5rem;
    --sm-lineheight: 2rem;
    --md-lineheight: 3.5rem;
    --lg-lineheight: 5rem;
    --xl-lineheight: 6.5rem;
    --xxl-lineheight: 7.5rem;

    font-size: calc(1em + 0.5vw)
}
